<nav>
    <ul class="middle-menu-list">
        <li>
            <a asp-controller="Home" asp-action="index">Home</a>
        </li>
        <li>
            <a asp-controller="shop" asp-action="index">shop<i class="fa fa-angle-down"></i></a>
            <ul class="ht-dropdown home-dropdown">
                <li class="megamenu-three-column fix">
                    <a href="collections/all.html">laptops</a>
                    <ul>
                        <li>
                            <ul>
                                <li><a href="collections/all.html">Best Laptops Price</a></li>
                                <li><a href="collections/all.html">New Laptops Price</a></li>
                                <li><a href="collections/all.html">Middle Laptops Price</a></li>
                                <li><a href="collections/all.html">Gaming Laptops Price</a></li>
                                <li><a href="collections/all.html">camera one</a></li>
                                <li><a href="collections/all.html">camrea two</a></li>
                                <li><a href="collections/all.html">camera theree</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="megamenu-three-column fix">
                    <a href="collections/all.html">monitors</a>
                    <ul>
                        <li>
                            <ul>
                                <li><a href="collections/all.html">Hd monitors</a></li>
                                <li><a href="collections/all.html">new monitors</a></li>
                                <li><a href="collections/all.html">dual monitors</a></li>
                                <li><a href="collections/all.html">qhd monitors</a></li>
                                <li><a href="collections/all.html">motion phone x</a></li>
                                <li><a href="collections/all.html">motion phone two</a></li>
                                <li><a href="collections/all.html">motion phone new</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-img">
                    <a href="collections/laptops.html"><img src="~/cdn.shopify.com/s/files/1/0019/7181/4451/collections/14_large5bab.jpg?v=1523774285"></a>
                </li>
            </ul>
        </li>

        <li>
            <a asp-controller="blogs" asp-action="index">blog</a>
        </li>
        <li><a asp-controller="HOME" asp-action="About">about us</a></li>
        <li><a asp-controller="home" asp-action="contact">contact us</a></li>
    </ul>
</nav>