
@{
    ViewData["Title"] = "Index";
}
<div id="shopify-section-template--14146645688371__main" class="shopify-section"><!-- Shop Page Start -->
<div class="main-shop-page" id="section-template--14146645688371__main">
  <div class="container">
    <!-- Row End -->
    <div class="row">
      <!-- Product Categorie List Start -->
      <div class="col-md-push-3 col-md-9">
        <!-- Single Banner Start -->
        <div class="single-banner zoom mb-50">
          <a href="/collections/all"><img src="//bigon-5.myshopify.com/cdn/shop/files/13.jpg?v=1613514779" alt="slider-banner"></a>
        </div>
        <!-- Single Banner End -->
        <!-- Grid & List View Start -->
<div class="grid-list-top border-default universal-padding fix mb-30">
  <div class="grid-list-view f-left">
    <div class="nav" role="tablist">
      <ul class="list-inline">
        <li><a  href="#" title="Grid view" class="change-view change-view--active" data-view="grid"><i class="fa fa-th"></i></a></li>
        <li><a href="#" title="List view" class="change-view" data-view="list"><i class="fa fa-list-ul"></i></a></li>
      </ul>
    </div>
  </div>
  <!-- Toolbar Short Area Start -->
  <div class="main-toolbar-sorter f-right">
    <div class="toolbar-sorter">
      <label for="SortBy">Sort by</label>
      <select name="SortBy" id="SortBy">
        <option value="manual">Featured</option>
        <option value="best-selling">Best Selling</option>
        <option value="title-ascending">Alphabetically, A-Z</option>
        <option value="title-descending">Alphabetically, Z-A</option>
        <option value="price-ascending">Price, low to high</option>
        <option value="price-descending">Price, high to low</option>
        <option value="created-descending">Date, new to old</option>
        <option value="created-ascending">Date, old to new</option>
      </select>
    </div>
  </div>
  <!-- Toolbar Short Area End -->
</div>
<!-- Grid & List View End -->
<script>
  /*============================================================================
    Inline JS because collection liquid object is only available
    on collection pages and not external JS files
  ==============================================================================*/
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  $(function() {
    $('#SortBy')
      .val('title-ascending')
      .bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams);
      }
    );
  });
</script>
        <div class="main-categorie">
          <!-- Grid & List Main Area End -->
          <div class="tab-content border-default fix">
            <div id="grid-view">
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602342625331">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/accusantium-doloremque">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/1_large.jpg?v=1523764933" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/2_large.jpg?v=1523764934" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/accusantium-doloremque">accusantium doloremque</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594907037747"></span>
    </div>
    <p>
      <span class="price"><span class=money>$130.00</span></span>
      <del class="prev-price"><span class=money>$150.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602342625331, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="accusantium-doloremque">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('accusantium-doloremque')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-13%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602347343923">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/affiliate-link-product">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/2_e32b9521-f8da-44a1-b5d5-8bd81ca0d81a_large.jpg?v=1523764946" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/3_542ef36a-2833-4031-946f-3488cc3bab23_large.jpg?v=1523764947" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/affiliate-link-product">Affiliate Link Product</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594907562035"></span>
    </div>
    <p>
      <span class="price"><span class=money>$80.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary">
        <a href="https://affiliate-program.amazon.com" data-toggle="tooltip" title="Add to Cart">Buy from amazon</a>
      </div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="affiliate-link-product">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('affiliate-link-product')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602369953843">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/aliquam-consequat-mattis">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/13_4c2523e0-85e5-4012-a257-f51471b0095c_large.jpg?v=1523765450" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/14_c0110e96-7480-4c1d-add0-c92b8509a77d_large.jpg?v=1523765451" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/aliquam-consequat-mattis">aliquam consequat mattis</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594909757491"></span>
    </div>
    <p>
      <span class="price"><span class=money>$150.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602369953843, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="aliquam-consequat-mattis">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('aliquam-consequat-mattis')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602354815027">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/aliquam-consequatfuck">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/14_5da0d163-c60c-455e-8071-8dada7ff30be_large.jpg?v=1523765456" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/15_eba130d4-5c28-49f0-961e-422348b22d72_large.jpg?v=1523765456" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/aliquam-consequatfuck">aliquam consequatfuck</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594908414003"></span>
    </div>
    <p>
      <span class="price"><span class=money>$30.00</span></span>
      <del class="prev-price"><span class=money>$100.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602354815027, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="aliquam-consequatfuck">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('aliquam-consequatfuck')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-0%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602330402867">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/carry-bag-of-leather">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/3_fcbdd06e-527c-478b-878d-3f297b4a6453_large.jpg?v=1523764955" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/4_d3d37933-75ae-4b46-9b4a-4145de808d45_large.jpg?v=1523764956" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/carry-bag-of-leather">Carry Bag of Leather</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594905759795"></span>
    </div>
    <p>
      <span class="price"><span class=money>$80.00</span></span>
      <del class="prev-price"><span class=money>$100.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602330402867, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="carry-bag-of-leather">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('carry-bag-of-leather')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-20%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602368413747">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/consectetur-adipiscing-elit">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/15_56407b38-227b-4f62-92ef-4e4f68c83640_large.jpg?v=1523765469" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/16_6aed504f-8475-4b02-82e2-cacc6452bbac_large.jpg?v=1523765470" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/consectetur-adipiscing-elit">consectetur adipiscing elit</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594909659187"></span>
    </div>
    <p>
      <span class="price"><span class=money>$80.00</span></span>
      <del class="prev-price"><span class=money>$100.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602368413747, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="consectetur-adipiscing-elit">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('consectetur-adipiscing-elit')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-20%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602366349363">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/consequences-roin-lectus">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/17_8029b1d4-2023-456f-870b-f24ed4cd3229_large.jpg?v=1523765481" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/18_308a6590-8d4f-40de-8c98-0ef06c0926a2_large.jpg?v=1523765482" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/consequences-roin-lectus">consequences roin lectus</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594909298739"></span>
    </div>
    <p>
      <span class="price"><span class=money>$150.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602366349363, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="consequences-roin-lectus">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('consequences-roin-lectus')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602364612659">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/cras-neque-metus">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/18_4a816db1-fe39-40c6-8381-9f427f9513e9_large.jpg?v=1523765489" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/19_9fd08abc-0522-428d-976c-91a353e3cccf_large.jpg?v=1523765490" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/cras-neque-metus">cras neque metus</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594908971059"></span>
    </div>
    <p>
      <span class="price"><span class=money>$30.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602364612659, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="cras-neque-metus">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('cras-neque-metus')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602317819955">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/demo-product-title-1">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/4_77a2ee66-7641-4015-8898-db8d1959b525_large.jpg?v=1523764965" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/5_a2873e95-d840-46a7-b320-b5238f9ecd32_large.jpg?v=1523764965" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/demo-product-title-1">Demo Product Title</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594903826483"></span>
    </div>
    <p>
      <span class="price"><span class=money>$30.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602317819955, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="demo-product-title-1">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('demo-product-title-1')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602324766771">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/demo-product-title">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/5_0cbb0520-15dc-4764-8fa1-3ca6f9dc31fc_large.jpg?v=1523764973" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/6_5d32779a-39cf-4048-8d57-4bb4f3189955_large.jpg?v=1523764974" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/demo-product-title">Demo Product Title</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594904612915"></span>
    </div>
    <p>
      <span class="price"><span class=money>$150.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602324766771, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="demo-product-title">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('demo-product-title')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602330009651">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/demo-product-title-3">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/22_large.jpg?v=1523764980" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/18_0d28220d-24fe-4923-bad0-ae59e5ef2cab_large.jpg?v=1523765008" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/demo-product-title-3">Demo Product Title</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594905661491"></span>
    </div>
    <p>
      <span class="price"><span class=money>$50.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602330009651, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="demo-product-title-3">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('demo-product-title-3')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602332074035">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/demo-product-title-2">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/7_a2453dd6-3755-457a-8da2-b60d0312768b_large.jpg?v=1523764989" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/8_bbf5612b-7157-4c30-8615-0e3b2dc22950_large.jpg?v=1523764990" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/demo-product-title-2">Demo Product Title</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594905956403"></span>
    </div>
    <p>
      <span class="price"><span class=money>$50.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602332074035, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="demo-product-title-2">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('demo-product-title-2')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602354192435">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dolore-magnam-aliquam">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/19_aa259c80-de93-4daf-83c5-3151d0daca95_large.jpg?v=1523765495" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/20_6fbbd691-4445-4540-ac9b-5793e8ad3fe9_large.jpg?v=1523765495" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dolore-magnam-aliquam">dolore magnam aliquam</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594908348467"></span>
    </div>
    <p>
      <span class="price"><span class=money>$100.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602354192435, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dolore-magnam-aliquam">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dolore-magnam-aliquam')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602368184371">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/donec-ac-tempus-nrb">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/20_80d8bbf2-2053-4541-bdd5-0db272583577_large.jpg?v=1523765501" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/21_96098cfe-2935-4725-a425-fbfb52213369_large.jpg?v=1523765501" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/donec-ac-tempus-nrb">donec ac tempus nrb</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594909429811"></span>
    </div>
    <p>
      <span class="price"><span class=money>$50.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602368184371, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="donec-ac-tempus-nrb">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('donec-ac-tempus-nrb')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602356322355">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/donec-non-est-ullamcorper">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/21_e8a6a47e-927f-450d-b6e2-fbd7e4c93500_large.jpg?v=1523765508" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/22_9f7f01d1-50d2-426b-967f-cce56343b091_large.jpg?v=1523765509" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/donec-non-est-ullamcorper">donec non est ullamcorper</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594908512307"></span>
    </div>
    <p>
      <span class="price"><span class=money>$100.00</span></span>
      <del class="prev-price"><span class=money>$120.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602356322355, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="donec-non-est-ullamcorper">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('donec-non-est-ullamcorper')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-17%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602312446003">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-9">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/8_cc19857d-ecd0-4c12-83f5-a3826183f428_large.jpg?v=1523765027" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/9_1149d4f7-52a2-4dea-975d-73e4d4392517_large.jpg?v=1523765028" alt="single-product">
    </a></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-9">Dummy Product Name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594903466035"></span>
    </div>
    <p>
      <span class="price"><span class=money>$60.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602312446003, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-9">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-9')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602318082099">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-8">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/9_35136b13-13ef-41a9-a000-314efeae60ff_large.jpg?v=1523765036" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/10_c9febb01-f12b-4d95-b823-cae968dbddc8_large.jpg?v=1523765036" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-8">Dummy Product Name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594903892019"></span>
    </div>
    <p>
      <span class="price"><span class=money>$90.00</span></span>
      <del class="prev-price"><span class=money>$110.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602318082099, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-8">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-8')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-18%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602337677363">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-4">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/10_879f0891-f068-41f2-b05b-8620118315e5_large.jpg?v=1523765043" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/11_78eb234d-0b2c-4215-9323-0b172d37e2c1_large.jpg?v=1523765044" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-4">dummy Product name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594906480691"></span>
    </div>
    <p>
      <span class="price"><span class=money>$56.20</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602337677363, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-4">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-4')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602337775667">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-5">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/11_1cf4750d-9af1-4f8b-9009-6fcdb54df98e_large.jpg?v=1523765050" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/12_d946c881-9fb8-47a4-aba2-337504f3128d_large.jpg?v=1523765051" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-5">dummy Product name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594906578995"></span>
    </div>
    <p>
      <span class="price"><span class=money>$79.00</span></span>
      <del class="prev-price"><span class=money>$82.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602337775667, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-5">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-5')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-4%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602338791475">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-6">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/12_89b6d6e2-7c35-44d6-9227-237feb88ff54_large.jpg?v=1523765056" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/13_f478dd14-6813-4743-95a4-b77d43086158_large.jpg?v=1523765057" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-6">dummy Product name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594906644531"></span>
    </div>
    <p>
      <span class="price"><span class=money>$80.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602338791475, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-6">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-6')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602340429875">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-7">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/23_1759c320-f78b-461e-b26c-2d975a7a423b_large.jpg?v=1523765522" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/2_2a8d4f87-7864-42c1-bd96-deb28f312a36_large.jpg?v=1523765528" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-7">dummy Product name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594906775603"></span>
    </div>
    <p>
      <span class="price"><span class=money>$60.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602340429875, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-7">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-7')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602345672755">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/1_eb60c612-027d-435f-91e5-e2bd442a72e3_large.jpg?v=1523765536" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/2_997c1ec1-67e6-4683-9390-727f1d205a4e_large.jpg?v=1523765537" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name">dummy Product name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594907267123"></span>
    </div>
    <p>
      <span class="price"><span class=money>$56.20</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602345672755, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602345934899">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-1">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/2_f87f42ca-b81e-4a9a-b355-2350ac710d02_large.jpg?v=1523765545" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/3_a1d91d1a-f17a-463d-87cd-a270ec8827c0_large.jpg?v=1523765545" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-1">dummy Product name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594907398195"></span>
    </div>
    <p>
      <span class="price"><span class=money>$79.00</span></span>
      <del class="prev-price"><span class=money>$82.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602345934899, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-1">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-1')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-4%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602349080627">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-name-3">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/3_a22c952e-a343-4aba-b184-4ff260fe8d9b_large.jpg?v=1523765551" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/4_ddcffb71-b6bd-4a92-80d0-611996f860b5_large.jpg?v=1523765552" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-name-3">dummy Product name</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594907725875"></span>
    </div>
    <p>
      <span class="price"><span class=money>$60.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602349080627, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-name-3">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-name-3')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602340888627">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-title-1">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/23_b6821e11-d063-4b49-9c48-553acf3ada45_large.jpg?v=1523766281" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/8_87a85cda-7428-4b4d-a847-974e9af55e22_large.jpg?v=1523766287" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-title-1">dummy Product title</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594906873907"></span>
    </div>
    <p>
      <span class="price"><span class=money>$120.00</span></span>
      <del class="prev-price"><span class=money>$150.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602340888627, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-title-1">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-title-1')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-20%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602352488499">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/dummy-product-title">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/5_a0f6b5f1-78c1-4cff-a40f-db8e6cda3961_large.jpg?v=1523766129" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/6_0685e3a5-fbf1-4dfa-aa47-7f86c5cfe897_large.jpg?v=1523766130" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/dummy-product-title">dummy Product title</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594908151859"></span>
    </div>
    <p>
      <span class="price"><span class=money>$120.00</span></span>
      <del class="prev-price"><span class=money>$150.00</span></del>
    </p>
    <div class="pro-actions">
      <div class="actions-primary"><a href="javascript:void(0);" class="action-btn" onclick="Shopify.addItem(7602352488499, 1); return false;" title="Add to Cart"  data-toggle="tooltip" title="Add to cart">
          <span class="addto">Add To Cart</span>
        </a></div>
      <div class="actions-secondary">
         <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="dummy-product-title">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
        <a href="javascript:void(0);" class="action-btn quick-view" onclick="quiqview('dummy-product-title')" data-toggle="modal" data-target="#quickViewModal"><i class="fa fa-eye"  data-toggle="tooltip" title="Quickview"></i></a>
      </div>
    </div>
  </div>
<span class="sticker-new sale">Sale</span>
<span class="sticker-new percent">-20%</span>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602369921075">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/exercitation-ullamco">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/1_6c887195-3f4a-4073-b6ba-869f8d6948ec_large.jpg?v=1523766378" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/2_f126f15b-f939-4c60-92d0-1ff175be4230_large.jpg?v=1523766379" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/exercitation-ullamco">exercitation ullamco</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594909724723"></span>
    </div>
    <p>
      <span class="price"><span class=money>$50.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary">
        <a href="javascript:void(0);" class="action-btn disabled-add-to-cart" onclick="; return false;" title="Sold Out" data-toggle="tooltip">Soldout</a>
      </div>
      <div class="actions-secondary">
        <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="exercitation-ullamco">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
     </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
              <!-- Single Product Start -->
<!-- Single Product Start -->
<div class="single-product item 7602342232115">
  <!-- Product Image Start -->
  <div class="pro-img">
    <a href="/products/fat-fermentum-metusid">
      <img class="primary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/7_c8720320-a2da-463e-b794-19d128bdd335_large.jpg?v=1523766140" alt="single-product">
      <img class="secondary-img popup_cart_image" src="//bigon-5.myshopify.com/cdn/shop/products/8_79cd779f-07fc-427e-a11e-4bad962ec2ec_large.jpg?v=1523766141" alt="single-product">
    </a><div class="product_coundown product_timing">
      <div data-countdown="2025/01/15"></div>
    </div></div>
  <!-- Product Image End -->
  <!-- Product Content Start -->
  <div class="pro-content">
    <h4 class="popup_cart_title"><a href="/products/fat-fermentum-metusid">fat fermentum metusid</a></h4>
    <div class="product-rating">
      <span class="shopify-product-reviews-badge" data-id="594907004979"></span>
    </div>
    <p>
      <span class="price"><span class=money>$50.00</span></span>
    </p>
    <div class="pro-actions">
      <div class="actions-primary">
        <a href="javascript:void(0);" class="action-btn disabled-add-to-cart" onclick="; return false;" title="Sold Out" data-toggle="tooltip">Soldout</a>
      </div>
      <div class="actions-secondary">
        <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="fat-fermentum-metusid">
  <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to Wishlist"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-heart" data-toggle="tooltip" title="Remove Wishlist"></i>
</a>
     </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
              <!-- Single Product End -->
            </div>
            <!-- #grid view End -->
          </div>
          <!-- Grid & List Main Area End -->
        </div>
        <!--Breadcrumb and Page Show Start -->
        <div class="breadcrubm-page-show border-default universal-padding mt-30 fix">
          <div class="breadcrumb-list-item">
<div class="shop-pagination text-center breadcrumb-list-item ">
  <nav class="pagination">
    <ul class="list-inline">
      <li>
      <li class="disabled prev">
        <a href="">
          <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </a>
      </li>
      <li class="active"><a href="">1</a></li>
      <li>
        <a href="/collections/all?page=2" title="">2</a>
      </li>
      <li class="next"><a href="/collections/all?page=2" title="Next &raquo;"><span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a></li>
    </ul>
  </nav>
</div>
          </div>
        </div>
        <!--Breadcrumb and Page Show End -->
      </div>
      <!-- product Categorie List End -->
      <!-- Sidebar Shopping Option Start -->
      <div class="col-md-3 col-md-pull-9">
        <div class="sidebar white-bg storefront-filter">
  <form class="filter-form" name="testform" id="myform"><div class="border-default universal-padding mb-40 sidebar-widget">
      <div class="group-title">
        <h2>Availability</h2>
      </div>
      <ul class="manufactures-list"><li>
          <input type="checkbox"
                 name="filter.v.availability"
                 value="1"
                 id="Filter-availability-1"
                    >
          <label for="Filter-availability-1">In stock (42)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.availability"
                 value="0"
                 id="Filter-availability-2"
                    >
          <label for="Filter-availability-2">Out of stock (4)</label>
        </li></ul>
    </div><div class="border-default universal-padding mb-40 sidebar-widget">
      <div class="group-title">
        <h2>Price</h2>
      </div>
      <div class="sidebar-list-style">
        <div class="checkbox-container categories-list sidebar-price-filter">
          <div class="filter-range-from">
            <span>$</span>
            <input name="filter.v.price.gte"
                   id="Filter-Price-2"
                  type="number"
                   placeholder="0"
                   min="0"
                   max="150.00"
                   >
            <label for="Filter-Price-2">From</label>
          </div>
          <div class="filter-price-range-to">
            <span>$</span>
            <input name="filter.v.price.lte"
                   id="Filter-Price-2"
                  type="number"
                   placeholder="150.00"
                   min="0"
                   max="150.00"
                   >
            <label for="Filter-Price-2">To</label>
          </div>
        </div>
        <input class="theme-default-button" type="submit" value="Filter">
      </div>
    </div><div class="border-default universal-padding mb-40 sidebar-widget">
      <div class="group-title">
        <h2>Product type</h2>
      </div>
      <ul class="manufactures-list"><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="assorted"
                 id="Filter-product-type-1"
                    >
          <label for="Filter-product-type-1">assorted (11)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="box"
                 id="Filter-product-type-2"
                    >
          <label for="Filter-product-type-2">box (4)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="chair"
                 id="Filter-product-type-3"
                    >
          <label for="Filter-product-type-3">chair (13)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="pant"
                 id="Filter-product-type-4"
                    >
          <label for="Filter-product-type-4">pant (1)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="shirt"
                 id="Filter-product-type-5"
                    >
          <label for="Filter-product-type-5">shirt (2)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="table"
                 id="Filter-product-type-6"
                    >
          <label for="Filter-product-type-6">table (5)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="table-lamp"
                 id="Filter-product-type-7"
                    >
          <label for="Filter-product-type-7">table-lamp (5)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.product_type"
                 value="watch"
                 id="Filter-product-type-8"
                    >
          <label for="Filter-product-type-8">watch (2)</label>
        </li></ul>
    </div><div class="border-default universal-padding mb-40 sidebar-widget">
      <div class="group-title">
        <h2>Brand</h2>
      </div>
      <ul class="manufactures-list"><li>
          <input type="checkbox"
                 name="filter.p.vendor"
                 value="brothers"
                 id="Filter-brand-1"
                    >
          <label for="Filter-brand-1">brothers (9)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.vendor"
                 value="hatil"
                 id="Filter-brand-2"
                    >
          <label for="Filter-brand-2">hatil (10)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.vendor"
                 value="navana"
                 id="Filter-brand-3"
                    >
          <label for="Filter-brand-3">navana (6)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.vendor"
                 value="nike"
                 id="Filter-brand-4"
                    >
          <label for="Filter-brand-4">nike (1)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.vendor"
                 value="otobi"
                 id="Filter-brand-5"
                    >
          <label for="Filter-brand-5">otobi (9)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.vendor"
                 value="raggery"
                 id="Filter-brand-6"
                    >
          <label for="Filter-brand-6">raggery (2)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.p.vendor"
                 value="rokomari"
                 id="Filter-brand-7"
                    >
          <label for="Filter-brand-7">rokomari (8)</label>
        </li></ul>
    </div><div class="border-default universal-padding mb-40 sidebar-widget">
      <div class="group-title">
        <h2>Color</h2>
      </div>
      <ul class="manufactures-list"><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="black"
                 id="Filter-color-1"
                    >
          <label for="Filter-color-1">black (11)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="blue"
                 id="Filter-color-2"
                    >
          <label for="Filter-color-2">blue (10)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="brown"
                 id="Filter-color-3"
                    >
          <label for="Filter-color-3">brown (8)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="cyan"
                 id="Filter-color-4"
                    >
          <label for="Filter-color-4">cyan (7)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="gold"
                 id="Filter-color-5"
                    >
          <label for="Filter-color-5">gold (9)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="gray"
                 id="Filter-color-6"
                    >
          <label for="Filter-color-6">gray (13)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="greeen"
                 id="Filter-color-7"
                    >
          <label for="Filter-color-7">greeen (1)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="green"
                 id="Filter-color-8"
                    >
          <label for="Filter-color-8">green (7)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="magenta"
                 id="Filter-color-9"
                    >
          <label for="Filter-color-9">magenta (11)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="orange"
                 id="Filter-color-10"
                    >
          <label for="Filter-color-10">orange (10)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="pink"
                 id="Filter-color-11"
                    >
          <label for="Filter-color-11">pink (7)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="purple"
                 id="Filter-color-12"
                    >
          <label for="Filter-color-12">purple (7)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="red"
                 id="Filter-color-13"
                    >
          <label for="Filter-color-13">red (8)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="violet"
                 id="Filter-color-14"
                    >
          <label for="Filter-color-14">violet (7)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="white"
                 id="Filter-color-15"
                    >
          <label for="Filter-color-15">white (12)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.color"
                 value="yellow"
                 id="Filter-color-16"
                    >
          <label for="Filter-color-16">yellow (11)</label>
        </li></ul>
    </div><div class="border-default universal-padding mb-40 sidebar-widget">
      <div class="group-title">
        <h2>Material</h2>
      </div>
      <ul class="manufactures-list"><li>
          <input type="checkbox"
                 name="filter.v.option.material"
                 value="glass"
                 id="Filter-material-1"
                    >
          <label for="Filter-material-1">glass (16)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.material"
                 value="partex"
                 id="Filter-material-2"
                    >
          <label for="Filter-material-2">partex (18)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.material"
                 value="steel"
                 id="Filter-material-3"
                    >
          <label for="Filter-material-3">steel (4)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.material"
                 value="wood"
                 id="Filter-material-4"
                    >
          <label for="Filter-material-4">wood (20)</label>
        </li></ul>
    </div><div class="border-default universal-padding mb-40 sidebar-widget">
      <div class="group-title">
        <h2>Size</h2>
      </div>
      <ul class="manufactures-list"><li>
          <input type="checkbox"
                 name="filter.v.option.size"
                 value="xs"
                 id="Filter-size-1"
                    >
          <label for="Filter-size-1">xs (21)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.size"
                 value="M"
                 id="Filter-size-2"
                    >
          <label for="Filter-size-2">M (13)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.size"
                 value="L"
                 id="Filter-size-3"
                    >
          <label for="Filter-size-3">L (13)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.size"
                 value="xl"
                 id="Filter-size-4"
                    >
          <label for="Filter-size-4">xl (21)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.size"
                 value="ml"
                 id="Filter-size-5"
                    >
          <label for="Filter-size-5">ml (21)</label>
        </li><li>
          <input type="checkbox"
                 name="filter.v.option.size"
                 value="X"
                 id="Filter-size-6"
                    >
          <label for="Filter-size-6">X (13)</label>
        </li></ul>
    </div></form>
</div>
  <script>
$('input[type="checkbox"]').click(function() {
    setTimeout(function() {
      $('form[name="testform"]').submit();
    }, 500);
  });
</script>
      </div>
      <!-- Sidebar Shopping Option End -->
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</div>
<!-- Shop Page End --><style data-shopify>#section-template--14146645688371__main{padding-top: 0px;
    padding-bottom: 50px;}
  @@media (min-width: 768px) and (max-width: 991px) {
    #section-template--14146645688371__main{padding-top: 0px;
      padding-bottom: 50px;}
  }
  @@media (max-width: 767px) {
    #section-template--14146645688371__main{padding-top: 0px;
      padding-bottom: 50px;}
  }</style><style>
</style>
</div>
  @section breadcrumbs{
    <div class="breadcrubm-page-show border-default universal-padding mt-30 fix">
        <div class="breadcrumb-list-item">
            <div class="shop-pagination text-center breadcrumb-list-item ">
                <nav class="pagination">
                    <ul class="list-inline">
                        <li>
                        <li class="disabled prev">
                            <a href="">
                                <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                            </a>
                        </li>
                        <li class="active"><a href="">1</a></li>
                        <li>
                            <a href="/collections/all?page=2" title="">2</a>
                        </li>
                        <li class="next"><a href="/collections/all?page=2" title="Next &raquo;"><span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  }